{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area" data-bg-img="{% static 'assets/img/photos/bg3.webp' %}">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="page-header-content">
              <h2 class="title" data-aos="fade-down" data-aos-duration="1000">Register</h2>
              <nav class="breadcrumb-area" data-aos="fade-down" data-aos-duration="1200">
                <ul class="breadcrumb">
                  <li><a href="index.html">Home</a></li>
                  <li class="breadcrumb-sep">//</li>
                  <li>Register</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start My Account Area Wrapper ==-->
    <section class="account-area">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 m-auto">
            <div class="section-title text-center">
              <h2 class="title">Register</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="register-form-content">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="username">Username <span class="required">*</span></label>
                      {{form.username}}
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="email">Email address <span class="required">*</span></label>
                      {{form.email}}
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="password">Password <span class="required">*</span></label>
                      {{form.password}}
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="confirm-password">Confirm Password <span class="required">*</span></label>
                      {{form.confirm_password}}
                    </div>
                  </div>
                  {% if user.is_authenticated %}
                    {% if user.user_role == 'admin' %}
                    <div class="col-12">
                      <div class="form-group">
                        <label for="confirm-password">User Role</label>
                        {{form.user_role}}
                      </div>
                    </div>
                    {% endif %}
                  {% endif %}
                  <div class="col-12">
                    <div class="form-group mb--0">
                      <button type="submit" class="btn-register" ><a href="{% url 'users:index' %}">Register</a></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End My Account Area Wrapper ==-->
  </main>
{% endblock %}